theme = catppuccin-mocha
font-family = "FiraCode Nerd Font"
font-feature = ss03
font-feature = ss05
background-opacity = 0.8
background-blur-radius = 20
{{ if eq .chezmoi.os "darwin" -}}
window-height = 53
window-width = 183
{{ else -}}
window-height = 40
window-width = 125
{{ end -}}

